body {
    font-family: 'Roboto Mono', monospace;;
}


.page {
  background: rgb(104,104,107);
  background: linear-gradient(180deg, rgba(104,104,107,1) 0%, rgba(194,187,187,1) 100%);
}
.page__header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    
    // margin-bottom: 160px;
    .page__nav {
        width: 80%;
        display: flex;
        justify-content: space-between;
        
        .logo__image {
            width: auto;
            height: 80px
        }
    }
   
}
.menu__list {
    display: flex;
    justify-content: start;
    flex-direction: row;

    .menu__item {
        color: white;
        margin-right: 40px;
        font-size: 20px;
        padding-top: 30px;
        .menu__link {
            text-decoration: none;
            color: white;
            &:hover {
                color: orange;
                transition: linear 0.5s;
            }
        }
    }
}
.hamburger {
    display: none;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:focus {
      & > .hamburger__container {
        box-shadow: 0 0 2px 2px #51a7e8;
      }
    }
  }
  
  .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
  }
  
  .hamburger__bars {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    transition: transform 220ms ease-in-out;
    &:before, &:after {
      display: block;
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: white;
      content: '';
    }
    &:before {
      top: -12px;
      transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
    }
    &:after {
      bottom: -12px;
      transition: bottom 100ms 250ms ease-in, 
        transform 220ms ease-in-out;
    }
  }
  
  .hamburger--active {
    .hamburger__bars {
      transform: rotate(225deg);
      transition: transform 220ms 120ms ease-in-out;
      &:before {
        top: 0;
        transition: top 100ms ease-out;
      }
      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 100ms ease-out, 
          transform 220ms 120ms ease-in-out;
      }
    }
  }
  
  .hamburger, .hamburger__container {
    &:focus {
      outline: none;
    }
  }

  @media only screen and (max-width: 955px) {
    .hamburger {
        display: block;
    }
    .menu__list {
        display: none;
    }
  }
//HOMEE
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home__page {
    background-image: url('../images/background.jpg');
    min-height: 100vh;
    width: 100%;
    // margin-top: 80px;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    // .home__heading {
    //     text-align: center;
    //     font-size: 50px;
    //     margin-top: 10px;
    //     font-weight: bold;
    //     text-shadow: 4px 4px 1px #FFCB3D;
    // }
}
.home__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 100px;
    width: 80%;
    background-color: RGBA(0,0,0,0.4);
    padding: 20px;
    border-radius: 30px;
    
    .home__text {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        color: white;
        .home__text--bold {
            font-weight: bold;
        }
    }
    .home__images {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .home__graph {
        display: flex;
        margin-top: 80px;
        color: white;
        text-align: center;
        margin-bottom: 50px; ;
        
    }
    .home__graph i {
        font-size: 100px;
        color: black;
        text-shadow: 4px 4px 1px #f15701;
        // f15701
    }
    .home__graph p {
        margin-left: 10px;
        font-size: 20px;
        margin-top: 20px;
        line-height: 30px;
    }
    }
}

.offer__page {
  //  height: 100vh
   width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
   .offer__heading {
       font-size: 30px;
       text-align: center;
   }
}
html {
    scroll-behavior: smooth;
}
.offer__container {
    margin-top: 100px;
    
    .offer__title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    color: #ECECF6;
   text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
    }
    .offer__title--3d {
     
      font-size: 40px;
      color: #CCCCCC;
      text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
      0 3px 0 #777777, 0 4px 0 #666666,
      0 5px 0 #555555, 0 6px 0 #444444,
      0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
      0 9px 10px rgba(0, 0, 0, 0.2);
    }
    .offer__text {
      font-size: 25px;
      text-align: center;
      position: relative;
      &::before {
        width:200px;
        height: 100px;
        content: '';
        position: absolute;
        top: -15px;
        left: -15px;
        border-top: 10px solid #f15701;
        border-left: 10px solid #f15701;
      }
      &::after {
        width: 200px;
        height: 100px;
        content: '';
        position: absolute;
        bottom: -15px;
        right: -15px;
        border-bottom: 10px solid #f15701;
        border-right: 10px solid #f15701;
    }
    }
}
.offer__columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.offer__list {
  list-style-type: none;
  .offer__list-item {
    font-size: 20px;
    line-height: 30px;
  }
}

.offer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  i {
    font-size: 40px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
  // .offer__buildings {
  //   width: 33%;
  //   // text-align: center;
  // }
  // .offer__sport {
  //   min-width: 33%;
  //   // text-align: center;
    
  // }
  // .offer__industrial {
  //   min-width: 33%;
  //   // text-align: center;
  // }
}
.offer__secondList {
  line-height: 20px;
  i {
    font-size: 20px;
  }
  li:first-of-type {
    margin-top: 10px;
  }
}
.offer__items {
  width: 33%;
  margin-top: 20px;
}
.offer__additional {
  font-size: 25px;
  font-weight: bold;
}

.projects__page {
  min-height: 100vh;
  width: 100%;
  background: white;
  position: relative;
  z-index: 99999;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: white;
    transform: skew(0deg, 6deg);
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, -6deg);
    z-index: -1;
  }
}
.projects__container {
  display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 80%;
 
  .project__title {
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #CCCCCC;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
           0 3px 0 #777777, 0 4px 0 #666666,
           0 5px 0 #555555, 0 6px 0 #444444,
           0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
           0 9px 10px rgba(0, 0, 0, 0.2);
  }
}
.projects__photos {
    display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
		// align-items: center;
  
  .projects__photo {
    // margin-right: 50px;
    position: relative;
    max-width: 33%;
    border: 2px solid #f15701;
		height: 200px;
    min-width: 300px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
      &:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
      }
  }
  .projects__img {
    height: 200px;
    width: 300px;
    // margin-left: 30px;
    
  }
}

.project__text { 
  display:block;
  position:absolute;
  top: 50%;
  text-align:center;
  z-index:10000;
  font-weight: bold;
  margin: 0 auto;
  width:100%;
  color: #D0F8FF;
   text-shadow: 0 0 5px #f15701, 0 0 10px #f15701,
           0 0 20px #f15701, 0 0 30px #f15701,
           0 0 40px #f15701;
 }


@import url("./../css/reset.css")
