body {
    font-family: 'Roboto Mono', monospace;;
}


.page {
  background-color: #b6b0b0;
  // background: rgb(104,104,107);
  // background: linear-gradient(180deg, rgba(104,104,107,1) 0%, rgba(194,187,187,1) 100%);
}
.page__header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    
    // margin-bottom: 160px;
    .page__nav {
        width: 80%;
        display: flex;
        justify-content: space-between;
        
        .logo__image {
            width: auto;
            height: 80px
        }
    }
   
}
.menu__list {
    display: flex;
    justify-content: start;
    flex-direction: row;

    .menu__item {
        color: white;
        margin-right: 40px;
        font-size: 20px;
        padding-top: 30px;
        .menu__link {
            text-decoration: none;
            color: white;
            &:hover {
                color: #f15701;
                transition: linear 0.5s;
            }
        }
    }
}
.hamburger {
    display: none;
    margin: 0;
    padding: 0;
    border: 0;
    // position: absolute;
    background-color: transparent;
    cursor: pointer;
    &:focus {
      & > .hamburger__container {
        box-shadow: 0 0 2px 2px #51a7e8;
      }
    }
  }
  .burger--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: rgb(160, 152, 152);
    background-color: black;
    width:100%;
    height: 400px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    // width: 100%;
    // display: block;
    // height: 100vh;
    // color: white;
  }

  .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
  }
  
  .hamburger__bars {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    transition: transform 220ms ease-in-out;
    &:before, &:after {
      display: block;
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: white;
      content: '';
    }
    &:before {
      top: -12px;
      transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
    }
    &:after {
      bottom: -12px;
      transition: bottom 100ms 250ms ease-in, 
        transform 220ms ease-in-out;
    }
  }
  
  .hamburger--active {
    position: absolute;
    top: 25px;
    right: 10%;
    z-index: 999;
    .hamburger__bars {
      transform: rotate(225deg);
      transition: transform 220ms 120ms ease-in-out;
      &:before {
        top: 0;
        transition: top 100ms ease-out;
      }
      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 100ms ease-out, 
          transform 220ms 120ms ease-in-out;
      }
    }
  }
  
  .hamburger, .hamburger__container {
    &:focus {
      outline: none;
    }
  }
  
  @media only screen and (max-width: 955px) {
    .hamburger {
        display: block;
    }
    .menu__list {
      overflow: hidden;
      position: fixed;
      margin: 0;
      padding-top: 40px;
      top: -100%;
      left: 0;
      // left: -100%;
      width: 100%;
      background: black;
      height: 300px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.9);
      transition: 1.5s;

    }
  }
  .show {
    top:0;
    z-index: 99;
    transition: 1.5s;
  }
//HOMEE
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home__page {
    background-image: url('../images/background.jpg');
    min-height: 100vh;
    width: 100%;
    // margin-top: 80px;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    // .home__heading {
    //     text-align: center;
    //     font-size: 50px;
    //     margin-top: 10px;
    //     font-weight: bold;
    //     text-shadow: 4px 4px 1px #FFCB3D;
    // }
}
.home__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 100px;
    width: 80%;
    background-color: RGBA(0,0,0,0.4);
    padding: 20px;
    border-radius: 30px;
    
    .home__text {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        color: white;
        .home__text--bold {
            font-weight: bold;
        }
    }
    .home__images {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .home__graph {
        display: flex;
        margin-top: 80px;
        color: white;
        text-align: center;
        margin-bottom: 50px; ;
        
    }
    .home__graph i {
        font-size: 100px;
        color: black;
        text-shadow: 4px 4px 1px #f15701;
        // f15701
    }
    .home__graph p {
        margin-left: 10px;
        font-size: 20px;
        margin-top: 20px;
        line-height: 30px;
    }
    }
}

.offer__page {
  //  height: 100vh
   width: 80%;
   padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   .offer__heading {
       font-size: 30px;
       text-align: center;
   }
}
html {
    scroll-behavior: smooth;
}
.offer__container {
    margin-top: 100px;
    padding-bottom: 20px;
    
    .offer__title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    color: #ECECF6;
   text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
    }
    .offer__title--3d {
     
      font-size: 40px;
      color: #CCCCCC;
      text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
      0 3px 0 #777777, 0 4px 0 #666666,
      0 5px 0 #555555, 0 6px 0 #444444,
      0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
      0 9px 10px rgba(0, 0, 0, 0.2);
    }
    .offer__text {
      font-size: 25px;
      text-align: center;
      position: relative;
      &::before {
        width:200px;
        height: 100px;
        content: '';
        position: absolute;
        top: -15px;
        left: -15px;
        border-top: 10px solid #f15701;
        border-left: 10px solid #f15701;
      }
      &::after {
        width: 200px;
        height: 100px;
        content: '';
        position: absolute;
        bottom: -15px;
        right: -15px;
        border-bottom: 10px solid #f15701;
        border-right: 10px solid #f15701;
    }
    }
}
.offer__title--center {
  margin-top: 40px;
}
.offer__columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.offer__list {
  list-style-type: none;
  .offer__list-item {
    font-size: 20px;
    line-height: 30px;
  }
}

.offer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  i {
    font-size: 40px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
  // .offer__buildings {
  //   width: 33%;
  //   // text-align: center;
  // }
  // .offer__sport {
  //   min-width: 33%;
  //   // text-align: center;
    
  // }
  // .offer__industrial {
  //   min-width: 33%;
  //   // text-align: center;
  // }
}
.offer__secondList {
  line-height: 20px;
  i {
    font-size: 20px;
  }
  li:first-of-type {
    margin-top: 10px;
  }
}
.offer__items {
  width: 30%;
  margin-top: 20px;
  // background: rgb(155, 153, 150);
  padding: 10px;
  border-radius: 20px;
  border: 1px black dashed;
  // opacity: 0.5;
}
.offer__additional {
  font-size: 20px;
  font-weight: bold;
  
}

.projects__page {
  // min-height: 100vh;
  width: 100%;
  padding-bottom: 150px;
  background: white;
  position: relative;
  z-index: 9998;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, 6deg);
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, -6deg);
    z-index: -1;
  }
}
.projects__container {
  display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    width: 80%;
    margin-top: 50px;
 
  .project__title {
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    color: #CCCCCC;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
           0 3px 0 #777777, 0 4px 0 #666666,
           0 5px 0 #555555, 0 6px 0 #444444,
           0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
           0 9px 10px rgba(0, 0, 0, 0.2);
  }
}
.projects__photos {
    display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
		// align-items: center;
  
  .projects__photo {
    // margin-right: 50px;
    position: relative;
    max-width: 33%;
    border: 2px solid #f15701;
		height: 200px;
    min-width: 300px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
      
  }
  .projects__img {
    height: 200px;
    min-width: 300px;
    // margin-left: 30px;
    &:hover {
      opacity: 0.5;
      transition: ease 1s;
    }
  }
}

.project__text { 
  display:block;
  // position:absolute;
  // top: 50%;
  margin-top: 20px;
  font-size: 18px;
  text-align:center;
  // z-index:10000;
  font-weight: bold;
  // margin: 0 auto;
  // width:100%;
  // color: gray;
  color: gray;
   text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
    // text-shadow: 0 1px 0 #999999, 0 1px 0 #888888,
    //        0 2px 0 #777777, 0 2px 0 #666666,
    //        0 3px 0 #555555, 0 3px 0 #444444,
    //        0 5px 0 #333333, 0 5px 7px rgba(0, 0, 0, 0.4),
    //        0 6px 9px rgba(0, 0, 0, 0.2);
  //  text-shadow: 0 0 5px #f15701, 0 0 5px #f15701,
  //          0 0 15px #f15701, 0 0 20px #f15701,
  //          0 0 30px #f15701;
 }

.contact__page {
  width: 80%;
  // margin-top: 100px;
  // min-height: 100vh;
}
.contact__data {
  display: flex;
    justify-content: space-around;
    // margin-top: 40px;
	// margin-top: 40px;
  flex-wrap: wrap;
}
.contact__info {
line-height: 25px;
font-size: 22px;
}
.contact__info--normal {
  text-decoration: none;
  color: black;
  &:hover {
    color: #f15701;
  }
}
.contact__section-name {
  font-size: 40px;
    margin-top: 100px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #CCCCCC;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
           0 3px 0 #777777, 0 4px 0 #666666,
           0 5px 0 #555555, 0 6px 0 #444444,
           0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
           0 9px 10px rgba(0, 0, 0, 0.2);
    
}

.contact__info--bold {
  font-size: 25px;
  font-weight: bold;
}
.iFrame {
  max-width: 650px;
}
.contact_frame {
  border: 2px solid #000000;
  max-width: 650px;
}
@media (max-width: 720px) {
	.contact__frame {
		max-width: 50%;
		iFrame {
		max-width: 400px;
		}
	}
}
#contact-form {
  display:block;
}

.contact-body {
  margin: 0 auto;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #212529;
  text-align: left;
  // background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 80%;
}

.contact-form-group {
  margin-bottom: 1rem;
}

.contact-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.contact-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contact-form-control:focus {
  border: 1px solid #313131;
}

select.contact-form-control[size], select.contact-form-control[multiple] {
  height: auto;
}

textarea.contact-form-control {
  height: auto;
}

label.contact-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.contact-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.contact-credit a {
  color: #545b62;
  text-decoration: underline;
}

.contact-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.contact-btn {
  display: inline-block;
  font-weight: 400;
  color: gray;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .contact-btn {
      transition: none;
  }
}

.contact-btn:hover {
  color: #212529;
  text-decoration: none;
}

.contact-btn:focus, .contact-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f15701
}

.contact-btn-primary {
  color: #fff;
  background-color: gray;
  border-color: gray;
}
.contact-title {
  font-size: 25px;
  margin-bottom: 15px;
}

.contact-btn-primary:hover {
  color: #fff;
  background-color: #f15701;
  border-color: #f15701;
  transition: ease 1s;
}

.contact-btn-primary:focus, .contact-btn-primary.focus {
  color: #fff;
  background-color: #f15701;
  border-color: #f15701;
  // box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.contact-btn-lg, .contact-btn-group-lg>.contact-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.contact-btn-block {
  display: block;
  width: 100%;
}

.contact-btn-block+.contact-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].contact-btn-block, input[type="reset"].contact-btn-block, input[type="button"].contact-btn-block {
    width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 100px;
  // position: fixed;
  .footer__container {
    display: flex;
  justify-content: space-around;
  color: white;
  width: 80%;
  align-items: center;
  line-height: 25px;
    font-size: 20px ;
  .footer__list {
    display: flex;
    justify-content: space-between;
  }
  }
  .footer__list a {
    color: white;
    font-size: 18px;
    margin-right: 15px;
    &:hover {
      color: #f15701;
    }
  }

}




@import url("./../css/reset.css")
